{{ 'collection-slider.css' | asset_url | stylesheet_tag }}

{% comment %} {%- style -%}
  .collection-slider-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .collection-slider-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="swiper myswiper">
	<div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="collection-slider-section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
                <div class="collection-slider {{ section.settings.products_to_show }} {% if section.settings.full_width %} collection--full-width {% endif %}">
                    <div class="page-width">
                        <div class="collection-slider__text">
                            {% if section.settings.heading != blank %}
                                <h2 class="collection-slider__heading {{ section.settings.heading_size }}">
                                    {{ section.settings.heading }}
                                </h2>
                            {% endif %}

                            {% if section.settings.description != blank %}
                                <div class="collection-slider__description {{ section.settings.description_style }} ">
                                    {{ section.settings.description }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="collection-slider__products {{ section.settings.image_ratio }}">
                            {% if section.settings.collection != blank %}
                                {{ section.settings.collection }}
                            {% else %}
                                {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}



   {% comment %} {%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count
  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}" id="collection-{{ section.id }}" data-id="{{ section.id }}">

    <div class="collection__title title-wrapper page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {% if section.settings.heading != blank %}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
      {% endif %}

      {% if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty %}
        <div class="collection__description {{ section.settings.description_style }} rte">
          {% if section.settings.show_description %}
            {{ section.settings.collection.description }}
          {% else %}
            {{ section.settings.description }}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        class="grid product-grid contains-card contains-card--product grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {% assign skip_card_product_styles = false %}
        {% if section.settings.collection.products.size > 0 %}
          {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
            <li class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                quick_add: section.settings.quick_add,
                section_id: section.id,
                skip_styles: skip_card_product_styles
              %}
              {% assign skip_card_product_styles = true %}
            </li>
          {% endfor %}
        {% else %}
          {% for i in (1..section.settings.columns_desktop) %}
            <li class="grid__item">
              {% assign ridx = forloop.rindex %}
              {% assign placeholder_image = 'product-apparel-' | append: ridx %}
              {% render 'card-product',
                show_vendor: section.settings.show_vendor,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                placeholder_image: placeholder_image
              %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>

      {% if show_mobile_slider or show_desktop_slider %}
        <div class="slider-buttons">
          <button class="slider-button slider-button--prev" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button class="slider-button slider-button--next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {% endif %}
    </slider-component>

    {% if section.settings.show_view_all and more_in_collection %}
      <div class="center collection__view-all">
        <a href="{{ section.settings.collection.url }}" class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}">
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {% endif %}

    {% if section.settings.image_shape == 'arch' %}
      {{ 'mask-arch.svg' | inline_asset_content }}
    {% endif %}
  </div>
</div> {% endcomment %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


{%- style -%}
  .collection-slider-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .collection-slider-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

{%- liquid      
    if section.settings.collection.all_products_count > section.settings.products_to_show       
    assign more_in_collection = true
    endif
-%}
<div class="collection-slider-section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
    <div class="collection-slider {% if section.settings.full_width == false %} custom-page-width {% endif %}">
        <div class="collection-slider__text">
            {% if section.settings.heading != blank %}
                <h2 class="collection-slider__heading {{ section.settings.heading_size }}">
                    {{ section.settings.heading }}
                </h2>
            {% endif %}

            {% if section.settings.description != blank %}
                <div class="collection-slider__description {{ section.settings.description_style }} ">
                    {{ section.settings.description }}
                </div>
            {% endif %}
        </div>

        {% if section.settings.enable_desktop_slider %}
            <div class="swiper myswiper">
                <div class="swiper-wrapper">    
                {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
                    <div class="swiper-slide">
                        <div class="product-card">
                            <a href="{{ product.url }}" class="product-card__link">
                            <div class="product-card__image-wrapper product-card__image-wrapper--{{ section.settings.image_ratio }} product-card__image-wrapper--{{ section.settings.image_shape }}">
                                {% if product.featured_image != blank %}
                                    <img src="{{ product.featured_image | image_url: width: 500 }}" alt="{{ product.featured_image.alt | escape }}" class="product-card__image" />
                                {% else %}
                                    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </div>
                            <div class="product-card__info">
                                <p class="product-card__title">{{ product.title }}</p>
                                <span class="product-card__price">
                                {{ product.price | money }}
                                </span>
                            </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="swiper-button-prev"> </div>
                <div class="swiper-button-next"> </div>
                {% comment %} <div class="swiper-pagination"> </div> {% endcomment %}
            </div>
        {% else %}
            <div class="products-grid grid--{{ section.settings.columns_desktop }}-cols">
                {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
                    <div class="product-card">
                        <a href="{{ product.url }}" class="product-card__link">
                            <div class="product-card__image-wrapper product-card__image-wrapper--{{ section.settings.image_ratio }} product-card__image-wrapper--{{ section.settings.image_shape }}">
                            {% if product.featured_image %}
                                <img src="{{ product.featured_image | image_url: width: 600 }}" alt="{{ product.featured_image.alt | escape }}" class="product-card__image"/>
                            {% endif %}
                            </div>
                            <div class="product-card__info">
                                <p class="product-card__title">{{ product.title }}</p>
                                <span class="product-card__price">{{ product.price | money }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>


{% if section.settings.show_view_all and more_in_collection %}
  <div class="center collection__view-all">
    <a href="{{ section.settings.collection.url }}" class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}">
      {{ 'sections.featured_collection.view_all' | t }}
    </a>
  </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 
<script>
    var swiper = new Swiper(".myswiper", {
        slidesPerView: 4.3,
      spaceBetween: 5,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    });
  </script>


{% schema %}
{
    "name": "Collection Slider",
    "class": "collection-slider-section",
    "tag": "section",
    "settings": [
        {
            "type": "collection",
            "id" : "collection",
            "label": "Collcetion"
        },
        {
            "type": "range",
            "id": "products_to_show",
            "min": 2,
            "max": 25,
            "step": 1,
            "label": "Product Count",
            "default": 4
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {"label": "Small", "value": "h2"},
                {"label": "Medium", "value": "h1"},
                {"label": "Large", "value": "h0"},
                {"label": "Extra large", "value": "hxl"},
                {"label": "Extra extra large", "value": "hxxl"}
            ],
            "label": "Heading Size",
            "default": "h1"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "checkbox",
            "id": "show_description",
            "label": "Show collection description from admin",
            "default": false
        },
        {
            "type": "select",
            "id": "description_style",
            "options": [
                {"label": "Body", "value": "body"},
                {"label": "Subtitle", "value": "subtitle"},
                {"label": "Upper case", "value": "uppercase"}
            ],
            "label": "Description Style",
            "default": "body"
        },
        {
            "type": "header",
            "content": "Collection Layout"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Columns",
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "enable_desktop_slider",
            "label": "Carousel",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full width products",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_view_all",
            "label": "'View all' button",
            "default": true
        },
        {
            "type": "select",
            "id": "view_all_style",
            "options": [
                {"label": "Link", "value": "link"},
                {"label": "Outline Button", "value": "outline"},
                {"label": "Solid Button", "value": "solid"}
            ],
            "label": "'View all' style",
            "default": "solid"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "scheme_1"
        },
        {
            "type": "header",
            "content": "Product card"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {"label": "Adapt to image", "value": "adapt"},
                {"label": "Potrait", "value": "potrait"},
                {"label": "Square", "value": "square"}
            ],
            "label": "Image ratio",
            "default": "adapt"
        },
        {
            "type": "select",
            "id": "image_shape",
            "options": [
                {"label": "Default", "value": "default"},
                {"label": "Arch", "value": "arch"},
                {"label": "Blob", "value": "blob"},
                {"label": "Chevron left", "value": "chevronleft"},
                {"label": "Chevron Right", "value": "chevronright"},
                {"label": "Diamond", "value": "diamond"},
                {"label": "Parallelogram", "value": "parallelogram"},
                {"label": "Round", "value": "round"}
            ],
            "label": "Image shape",
            "default": "default"
        },
        {
            "type": "checkbox",
            "id": "show_secondary_image",
            "label": "Show second image in hover",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_vender",
            "label": "Vender",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_rating",
            "label": "Product rating",
            "default": false
        },
        {
            "type": "select",
            "id": "quick_add",
            "options": [
                {"label": "None", "value": "none"},
                {"label": "Standard", "value": "standard"},
                {"label": "Bulk", "value": "bulk"}
            ],
            "label": "Quick add",
            "default": "none"
        },
        {
            "type": "header",
            "content": "Mobile layout"
        },
        {
            "type": "select",
            "id": "columns_mobile",
            "options": [
                {"label": "1", "value": "1"},
                {"label": "2", "value": "2"}
            ],
            "label": "Columns",
            "default": "2"
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "label": "Carousel",
            "default": false
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Top",
            "default":36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Bottom",
            "default":36
        }
    ],
    "presets": [
        {
            "name": "Collection Slider"
        }
    ]
}
{% endschema %}