{{ 'vertical-slide.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
<div class="vertical-scroll-section">
    <div class="page-width">
        <div class="vertical-scroll">
            <div class="vertical-scroll__grid grid grid--gapless">
                <div class="vertical-scroll-media-item grid-item">
                    <div class="vertical-scroll-media">
                        {% if block.settings.image != blank %}
                            <img src="{{ block.settings.image | image_url: width: 600 }}">
                        {% else %}
                            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg'}}
                        {% endif %}
                    </div>
                </div>

                <div class="vertical-scroll-media-text-item grid-item">
                    <div class="vertical-scroll-media2">
                        {% if block.settings.image2 != blank %}
                            <img src="{{ block.settings.image2 | image_url: width: 600 }}">
                        {% else %}
                            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg'}}
                        {% endif %}
                    </div>

                    <div class="vertical-scroll-text">
                        {% if block.settings.heading %}
                            <h2 class="vertical-scroll__heading {{ block.settings.heading_size }}">
                                {{ block.settings.heading }}
                            </h2>
                        {% endif %}
                        {% if block.settings.text %}
                            <div class="vertical-scroll__text {{ block.settings.text_style }}">
                                {{ block.settings.text }}
                            </div>
                        {% endif %}
                        {% if block.settings.button_link %}
                            <a {% if block.settings.button_link == blank %}
                                    role="link" aria-disabled="true"
                                {% else %}
                                    href="{{ block.settings.button_link }}"
                                {% endif %} 
                                    class="button"
                            >
                                {{ block.settings.button_label }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% schema %}
{
    "name": "Vertical Scroll",
    "tag": "section",
    "class": "vertical-scroll-section",
    "settings": [],
    "blocks": [
        {
            "type": "slide",
            "name": "slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image 1"
                },
                {
                    "type": "image_picker",
                    "id": "image2",
                    "label": "Image 2"
                },
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Heading"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "options": [
                        {"label": "Small", "value": "h2"},
                        {"label": "Medium", "value": "h1"},
                        {"label": "Large", "value": "h0"},
                        {"label": "Extra large", "value": "hxl"},
                        {"label": "Extra extra large", "value": "hxxl"}
                    ],
                    "label": "Heading size",
                    "default": "h1"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Add text here.</p>"
                },
                {
                    "type": "select",
                    "id": "text_style",
                    "options": [
                        {"label": "Body", "value": "body"},
                        {"label": "Subtitile", "value": "subtitle"}
                    ],
                    "label": "Style",
                    "default": "body"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Label",
                    "default": "Link"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Vertical Scroll",
            "blocks": [
                {"type": "slide"},
                {"type": "slide"}
            ]
        }
    ]
}
{% endschema %}








{% comment %} <html>
    <head>
        <title>Website Vertical Scrolling with jQuery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Website Vertical Scrolling with jQuery" />
        <meta name="keywords" content="jquery, vertical, scrolling, scroll, smooth"/>
        <link rel="stylesheet" href="css/style_vertical.css" type="text/css" media="screen"/>
    </head>
    <style>
        a{
            color:#fff;
            text-decoration:none;
        }
        a:hover{
            text-decoration:underline;
        }
        span.reference{
            position:fixed;
            left:10px;
            bottom:10px;
            font-size:13px;
            font-weight:bold;
        }
        span.reference a{
            color:#fff;
            text-shadow:1px 1px 1px #000;
            padding-right:20px;
        }
        span.reference a:hover{
            color:#ddd;
            text-decoration:none;
        }

    </style>
    <body>
        <div>
            <span class="reference">
                <a href="https://tympanus.net/codrops/2010/06/02/smooth-vertical-or-horizontal-page-scrolling-with-jquery/">© Codrops</a>
                <a href="index.html">Horizontal Demo</a>
            </span>
        </div>

        <div class="section black" id="section1">
            <h2>Section 1</h2>
            <p>
                MY Spectre around me night and day
                Like a wild beast guards my way;
                My Emanation far within
                Weeps incessantly for my sin.
            </p>
            <ul class="nav">
                <li>1</li>
                <li><a href="#section2">2</a></li>
                <li><a href="#section3">3</a></li>
            </ul>
        </div>
        <div class="section white" id="section2">
            <h2>Section 2</h2>
            <p>
                ‘A fathomless and boundless deep,
                There we wander, there we weep;
                On the hungry craving wind
                My Spectre follows thee behind.

            </p>
            <ul class="nav">
                <li><a href="#section1">1</a></li>
                <li>2</li>
                <li><a href="#section3">3</a></li>
            </ul>
        </div>
        <div class="section black" id="section3">
            <h2>Section 3</h2>
            <p>
                ‘He scents thy footsteps in the snow
                Wheresoever thou dost go,
                Thro’ the wintry hail and rain.
                When wilt thou return again?

            </p>
            <ul class="nav">
                <li><a href="#section1">1</a></li>
                <li><a href="#section2">2</a></li>
                <li>3</li>
            </ul>
        </div>

        <!-- The JavaScript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>		
        <script type="text/javascript" src="jquery.easing.1.3.js"></script>
        <script type="text/javascript">
            $(function() {
                $('ul.nav a').bind('click',function(event){
                    var $anchor = $(this);
                    
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500,'easeInOutExpo');
                    /*
                    if you don't want to use the easing effects:
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1000);
                    */
                    event.preventDefault();
                });
            });
        </script>
    </body>
</html> {% endcomment %}